.li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  border: solid 1px;
  border-radius: 100%;
  border-color: gray;
  background-color: white;
}
li > p {
  color: white;
}
.label--container__div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
  margin-bottom: 2px;
}
label {
  font-size: 15px;
  color: rgb(73, 73, 73);
}

.input--registre__user {
  height: 2rem;
  width: 80vw;
  min-width: 19rem;
  max-width: 50rem;
  border: solid 1px;
  border-radius: 4px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  color: rgb(73, 73, 73);
}
