li{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    border: solid 1px;
    border-radius: 100%;
    border-color: #001F3F;
    background-color: #001F3F;

}
li>p{
    color: white;
}
.label--container__div{
        display: flex;
    align-items: center;
    justify-content: space-between;
        margin-top: 1rem;
    margin-bottom: 2px;
}
label{
    font-size: 15px;
    color: rgb(73, 73, 73);
}

.input--registre__user{
    height: 2rem;
    width: 90vw;
    min-width: 20rem;
    max-width: 50rem;
    border: solid 1px;
    border-radius: 4px;
    padding-left:.5rem;
    padding-right: .5rem;
    color: rgb(73, 73, 73);
}