.menu-container {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  cursor: pointer;
}


.inactive {
    display: none;
}

.liLogin {
    margin: 30px;
}
#menuHam {
    transition: background-color 0.3s ease-in-out;
  }
  
  /* Agrega esta clase cuando el menú está abierto */
  #menuHam.active {
    background-color: #ffffff; /* Color de fondo para la "X" */
  }
  
  button svg {
    transition: transform 0.3s ease-in-out; /* Transición para la rotación del ícono */
  }
  
  /* Agrega esta clase cuando el menú está abierto */
  button.active svg {
    transform: rotate(45deg); /* Rotación para representar la "X" */
  }
  
  /* Agrega transiciones para el desplazamiento del menú */
  div.absolute {
    transition: transform 0.3s ease-in-out;
  }
  
  /* Agrega esta clase cuando el menú está abierto */
  div.absolute.active {
    transform: translateX(0); /* Desplaza el menú a la posición original */
  }
  